.imglogo {
  width: 2em;
}

.none {
  cursor: none;
}

.pages_direction {
  font-weight: bold;
  color: var(--pure-white);
  font-size: 1.2em;
}

.pages_direction:hover {
  color: var(--black);
}

.img_logout {
  width: 2.4em;
  cursor: pointer;
  margin: 0.2em;
}

.bg-nvb {
  background: #1e3a8a;
}
