<div class="main">
  <app-navbar
    *ngIf="canView"
    [name]="name"
    [computers_class]="computers_class"
  />
  <app-message
    [errorType]="errorType"
    [messageError]="messageError"
    *ngIf="canViewMessage"
    (click)="closeMessage()"
  />
  <app-loading *ngIf="!canView" />
  <div class="w-100 d-flex justify-content-around align-items-cente pd-1">
    <app-quantity-buttons
      (filterChanged)="onQuantityChanged($event)"
    ></app-quantity-buttons>
    <app-filter-buton></app-filter-buton>
    <app-filter-window></app-filter-window>
    <app-system-report></app-system-report>
  </div>

  <table class="tb">
    <thead class="th-bl">
      <tr>
        <th class="thcls">
          <div class="form-check d-flex justify-content-center">
            <input
              class="ckipf form-check-input"
              type="checkbox"
              value=""
              (change)="selectAll()"
            />
          </div>
        </th>
        <th class="thcls text-uppercase">mac address</th>
        <th class="thcls text-uppercase">
          <div class="w-100 d-flex justify-content-center">
            <label for="text-uppercase">Name</label>
            <div class="mleft">
              <img
                class="img_arrows"
                [src]="arrow_up"
                soft_list
                alt="seta para cima"
                (click)="sortByName()"
              />
              <img
                class="img_arrows"
                [src]="arrow_down"
                alt="seta para baixo"
                (click)="sortDataByNameDescending()"
              />
            </div>
          </div>
        </th>
        <th class="thcls text-uppercase">
          <div class="w-100 d-flex justify-content-center">
            <label for="text-uppercase">SO</label>
            <div class="mleft">
              <img
                class="img_arrows"
                [src]="arrow_up"
                alt="seta para cima"
                (click)="sortByNameSO()"
              />
              <img
                class="img_arrows"
                [src]="arrow_down"
                alt="seta para baixo"
                (click)="sortDataByNameDescendingSO()"
              />
            </div>
          </div>
        </th>
        <th class="thcls text-uppercase">
          <div class="w-100 d-flex justify-content-center">
            <label for="text-uppercase">distribution</label>
            <div class="mleft">
              <img
                class="img_arrows"
                [src]="arrow_up"
                alt="seta para cima"
                (click)="sortByNameDis()"
              />
              <img
                class="img_arrows"
                [src]="arrow_down"
                alt="seta para baixo"
                (click)="sortDataByNameDescendingDis()"
              />
            </div>
          </div>
        </th>
        <th class="thcls text-uppercase">
          <div class="w-100 d-flex justify-content-center">
            <div>last update</div>
            <div class="mleft">
              <img
                class="img_arrows"
                [src]="arrow_up"
                alt="seta para cima"
                (click)="sortByDateDesc()"
              />
              <img
                class="img_arrows"
                [src]="arrow_down"
                alt="seta para baixo"
                (click)="sortByDateASC()"
              />
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="canViewMachines">
      <tr
        class="trcls"
        *ngFor="let machine of dataMachines; let i = index"
        [ngClass]="i % 2 === 0 ? 'bg-wh' : 'bg-gr'"
      >
        <td class="tdsadj">
          <div class="form-check d-flex justify-content-center">
            <input
              class="ckip form-check-input"
              type="checkbox"
              [value]="machine.mac_address"
            />
          </div>
        </td>
        <td class="tdsadj" (mousedown)="onRowClick(i, $event)">
          {{ machine.mac_address }}
        </td>
        <td class="tdsadj" (mousedown)="onRowClick(i, $event)">
          {{ machine.name }}
        </td>
        <td class="tdsadj" (mousedown)="onRowClick(i, $event)">
          {{ machine.system_name }}
        </td>
        <td class="tdsadj" (mousedown)="onRowClick(i, $event)">
          {{ machine.distribution }}
        </td>
        <td class="tdsadj" (mousedown)="onRowClick(i, $event)">
          {{ formatDate(machine.insertion_date) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
